/* Hebergements.css */
.hotelListContainers {
    display: flex;
    flex-wrap: wrap; /* Permet d'avoir plusieurs lignes */
    gap: 20px;
    padding: 30px; /* Espace entre les cartes */
  }
  
  .hotelCard {
    flex: 1 1 calc(50% - 20px); /* Chaque carte occupe 50% de la largeur moins l'espace */
    padding-bottom: 10px;
    border-radius: 8px;
    box-shadow: rgba(170, 160, 160, 0.301) 0px 3px 8px;
    height: fit-content;
   /* Inclut la bordure et le padding dans la largeur totale */
  }
  
  @media (max-width: 768px) {
    .hotelCard {
      flex: 1 1 100%; /* Pour les petits écrans, chaque carte prend toute la largeur */
    }

  }
  